<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Categories</th>
      <th>Description</th>
      <th>Content</th>
      <th>Publish Date</th>
      <th>Created At</th>
      <th>Last Updated At</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.categories.count %></td>
        <td><%= post.description %></td>
        <td><%= post.content %></td>
        <td><%= post.publish_date %></td>
        <td><%= post.c_at %></td>
        <td><%= post.u_at %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
